header {
    background-color: #402722;
    max-width: 1200px;
    height: 30px;
}

nav {
    background-color: #402722;
    margin: 7px;
    align-items: center;
}

header a {
    margin: 80px;
    padding: 0px 28px;
    text-decoration: none;
    color: #F2E7AE;
}

header a:hover {
    color: #F2AC29;
    background-color: #D97A43;
    text-decoration: underline;
}

body {
    background-color: #D97A43;
    max-width: 1200px;
    height: auto;
    margin: auto;
}

img{
    margin-top: 10px;
    margin-left: 20px;
    width: 60%;
    height: 60%;
    border: 5px solid red;
    border-radius: 5%;
}


footer {
    background-color: #402722;
    max-width: 1200px;
    height: 40px;
    margin: auto;
}

html {
    background-image: url("https://sm.ign.com/ign_nordic/gallery/d/disco-elys/disco-elysium-19-pieces-of-concept-art_9eat.jpg");
}

div {
}


.round {
    border: 1px solid rebeccapurple;
    background-color: orangered;
    padding-left: 2px;
    margin-left: 375px;
    width: 200px;
    height: 30px
}

#text1 {
    border: 1px solid rebeccapurple;
    background-color: orangered;
    padding-left: 2px;
    margin-left: 940px;
    width: 250px;
    height: 30px;
}

#text2 {
    border: 1px solid rebeccapurple;
    background-color: orangered;
    padding-left: 2px;
    margin-left: 940px;
    width: 250px;
    height: 30px;
}

#text3 {
    border: 1px solid rebeccapurple;
    background-color: orangered;
    padding-left: 2px;
    margin-left: 940px;
    width: 250px;
    height: 30px;
}

#assignment {
    margin-left: 360px;
    align-items: center;
}

#button1 {
    padding-left: 2px;
    margin-bottom: 300px;
    background-color: #402722;
    color: white;
}

#textboxes {
    clear:left;
    display: inline;
}

#foottext {
    color: white;
}

#picture {
float: left;
}

.container .image {
    width: 50%;
    float: left;
}

.container img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}