/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Caveat Brush', cursive;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}



html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {

    height: 100%;
    min-height: 100%;

}

h1 {
    font-size: 7em;
    align-self: flex-start;
    margin: 10%;
    color: white;
    text-shadow:
            -1px -1px 4px #000000,
            1px -1px 4px #000000,
            -1px 1px 4px #000000,
            1px 1px 4px #000000;
}

h2 {
    text-align: center;
    align-self: center;
    padding: 30px;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    transition: text-shadow 1s;
}

h2:hover {
    text-shadow: -4px 4px #ef3550,
    -8px 8px #f48fb1,
    -12px 12px #7e57c2,
    -16px 16px #2196f3;
}


.page1  {
    display: flex;
    justify-content: flex-end;
    background-image: url("https://i.pinimg.com/originals/df/11/4b/df114b3d71633397af7fe979a8ec2728.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    min-height: 100%;
    position: relative;
}

.page2  {
    display: flex;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/3038854.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
    position: absolute;
    left:0;
}

.page2 .box {
    width: 20em;
    height: 5em;
    margin: 100px;
    border-radius: 0.3em;
    border: solid 5px #ff5c34;
    align-self: flex-end;
    background-color: rgba(55, 76, 140, 0.8);
    transition: all 0.5s ease-in-out;
}

.page1 .box {
    width: 21em;
    height: 7em;
    margin: 100px;
    border-radius: 0.3em;
    border: solid 5px #ff5c34;
    align-self: flex-end;
    background-color: rgba(55, 76, 140, 0.8);
    transition: all 0.5s ease-in-out;
}

.main-area .box:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1em 0.7em -0.4em #f69d3c;
    transform: translateY(-0.25em);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clock {
    border-radius: 100%;
    background: url(image/clockimage.png),  linear-gradient(to top, #ffffff, #9907facc), no-repeat center;
    background-size: 100%;
    height: 30em;
    align-self: center;
    padding-bottom: 0;
    position: relative;
    width: 30em;
}

.hours-arrow, .minute-arrow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hour {
    height: 30%;
    left: 49%;
    position: absolute;
    top: 35%;
    transform-origin: left center;
    width: 30%;
}

.minute {
    height: 30%;
    left: 49%;
    position: absolute;
    top: 35%;
    transform-origin: left center;
    width: 50%;
}

.minute-arrow {
    animation: rotate 10s infinite linear;

}

.hours-arrow {
    animation: rotate2 10s infinite linear;
}


a {
    text-decoration: none;
    color: #D95323;
    font-size: 2em;
    text-shadow:
            -1px -1px 1px #ffffff,
            1px -1px 1px #ffffff,
            -1px 1px 1px #ffffff,
            1px 1px 1px #ffffff;
}

a:hover {
    color: rgba(55, 76, 140, 0.8);
}

@media (max-width: 1000px) {
    .page1 {
        flex-direction: column;
        justify-content: center;
    }

    .page1 .box {
        align-self: center;
        width: 20em;
        height: 5em;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    100% {
        transform: rotate(30deg);
    }
}